@media screen and (max-width:576px){
    nav{
        width:auto;
        height:100%;
        flex-direction: column;
        box-shadow: none;
    }
    .logo-container{
        width:100%;
        padding-top:103px;
        padding-bottom:62px;
        padding-left:auto;
        padding-right:auto;
        
    }
    .menu-container{
        flex-direction: column;
        padding-right: 0px;
        height:auto;
    }
}

@media screen and (min-width:576px) and (max-width:992px){
    .logo-container{
        padding-left: 45px;
    }
    .menu-container{
        padding-right: 20px;
        text-align: center;
    }
    .menu-container a{
        font-size: 10px;
    }
    .follow-us-container{
        width:150px;
    }
}