/* Shared styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}



/* navbar styles */
nav {
    /* max-width: fit-content; */
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* border: 2px solid red; */
    display: flex;
    align-items: center;

}

.logo-container {
    /* border: 2px solid violet; */
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 100px;
}



.logo-img {
    width: 86.041px;
    height: 40px;
}

nav h3, footer h3{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.G-span {
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: transparent;
    -webkit-background-clip: text;

}

.menu-container {
    /* border: 2px solid green; */
    width: 50%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;




}

.menu-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow-us-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
    justify-content: space-evenly;
}

/* Banner style starts */

.banner {
    /* max-width: 1920px; */
    /* height: 1000px; */
    /* border: 5px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 24px; */
    margin: 0px auto 120px;
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-info {
    
    display: flex;
    flex-direction: column;
    margin:auto;
    

}



.banner-img {
    width: 100%;
    /* border: 2px solid tomato; */
    height: auto;

}
.banner-img>img{
    width:100%;
}

.banner-info h2 {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
}

.banner-info h1 {
    font-size: 4rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.banner-info h4 {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

.banner-text {
    margin-top: 17px;
}

.banner-info span {
    padding-right: 5px;
}

.btn-container {
    margin-top: 41px;
}

.btn-1 {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

    padding: 21px 40px;
    color: #FFF;

    font-weight: 600;


}

.btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    color: #FFF;

    font-weight: 600;
}

/* online games styles */
.online-games {
    /* border: 2px solid red; */
    /* max-width: 1920px; */
    margin: 50px 100px 50px;

}

.online-games-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin: 48px auto 120px;

}

.games-img {
    width: 100%;
    border-radius: 16px;


}

.caption {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    /* 150% */
}

.online-games-title {
    color: #0B0223;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.online-games-title span,
.instance-play-info span {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-info {
    padding: 20px;
    color: #534C64;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* instance play style begins */
.instance-play {
    margin: 120px 100px 120px 250px;
    /* border: 2px solid red; */
    /* height: 10px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.img-1 {
    width: 100%;


}

.img-2 {
    width: 45%;

    margin-top: -165px;
    margin-left: -90px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background: lightgray 0px -0.304px / 100% 117.229% no-repeat;
}

.image-block {
    position: relative;
}

.instance-play-info {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.instance-play-msg {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.instance-play-info>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* icon style begins */
.icon-info {
    /* max-width: 1920px; */
    /* border: 2px solid red; */
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.icon-container {
    padding: 120px 100px 120px 100px;
    height: auto;
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;


}

.icon {
    display: flex;
    align-items: center;
    gap: 5px;

}

.icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background: #FFF;
    border: 2px solid #FF42A5;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer style begins */
footer {
    /* max-width: 1920px; */
    color: #FFF;
    /* border: 1px solid white; */
    
    background: #0B0223;
    /* display: flex; */

}

.footer-container {
    padding: 120px 100px 130px 100px;
    height: auto;
    /* border: 2px solid green; */
}

.logo-container {
    width: fit-content;
    align-items: center;
    /* border: 2px solid yellow; */
    padding-left: 0px;
    margin: 0px auto;
}

.footer-text-container {
    display: flex;
    gap: 60px;
    margin: 66px auto;
    max-width: fit-content;
}

.footer-text {
    font-weight: 600;
    font-size: 18px;
}

.icon-button {
    width: 40px;
    height: 40px;
    color: white;
    background: transparent;
    border: none;
}
.icon-button:hover{
    cursor:pointer;
}

.icon-button-container {
    display: flex;
    gap: 40px;
    max-width: fit-content;
    margin: 0px auto 74px;
}

.footer-terms-container {
    display: flex;
    gap: 60px;
    margin: 0px auto 28px;
    max-width: fit-content;
}

.footer-terms, .copyright>h3 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin:0px auto 0px;
}
footer h3{
    color: #FFF;
}
